/* ------------------------------------ *\
  # PAGE-HEADER
\* ------------------------------------ */

.c-page-header {
  background-color: var(--color-page-header-bg);
  box-shadow: 0 0.2em 0.2em -0.3em rgba(0, 0, 0, 0.5);
  padding-bottom: 1rem;
  padding-top: 1rem;

  &-container {
    @extend .o-wrapper;

    align-items: center;
    display: flex;
  }

  &__imagotipo {
    width: 11em;
  }

  &__link-image {
    @extend .o-link-image;

    --color-link-image-hover: var(--color-black-squeeze--t50);
  }
}
