/* ------------------------------------ *\
  # PAGE-HEADER
\* ------------------------------------ */

.c-page-header {
  background-color: gainsboro;
  box-shadow: 0 0.2em 0.2em -0.3em rgba(0, 0, 0, 0.5);
  padding: 0.7em 1em;

  @media (--large) {
    font-size: 1.2rem;
  }

  &-container {
    @extend .o-wrapper;

    display: grid;
    grid-gap: 0 0.7em;
    grid-template-areas:
      'L T'
      'L A';
    grid-template-columns: 4em auto;
    grid-template-rows: 2em 2em;
  }

    &__author {
      font-style: italic;
      grid-area: A;
    }

    &__scalable-image {
      border-radius: 3%;
      width: 100vw;
    }

    &__logo {
      grid-area: L;
    }

    &__link {
      text-decoration: underline;
      transition: var(--global-transition);

      &:hover {
        text-shadow: 1px 1px 2px rgba(0, 20, 39, 0.3);
        transition: var(--global-transition);
      }
    }

    &__title {
      align-self: flex-end;
      grid-area: T;
      margin: 0;
    }
}
