extends ../templates/base

block content
  main(id='page' class='c-page')
    h1.c-page__title Learning Javascript

    include ../components/variables

    h2 Strings
    h2 Numbers
    h2 Conditionals
    h2 Loops
    h2 Iterators
    h2 Functions
    h2 Collections
    h2 Object-oriented programming
