extends ../templates/base

block content
  main(id='page' class='c-page')
    h1.c-page__title Learning Javascript

    h2 Variables
    p
      | There are multiple options to define a variable, it depends on: scope
      | and is hoisted.
    p
      | The scope of a variable can be defined by: a
      |
      a(href='#') function
      |
      | or a block (
      a(href='#') conditional
      | ,
      |
      a(href='#') loops
      | , etc.).

    p
      | Are hoisted when the JavaScript compiler automatically interprets the
      | declaration at the top level of the scope and ignores the declaration
      | point.

    h2 Strings
    h2 Numbers
    h2 Conditionals
    h2 Loops
    h2 Iterators
    h2 Functions
    h2 Collections
    h2 Object-oriented programming
