//- Page header
- let { publicPath } = htmlWebpackPlugin.options
- if (!publicPath) publicPath = '/'

header.c-page-header
  .c-page-header-container
    a(href=`${publicPath}`, title='homepage')
      img(
        alt='TonykevinJS imagotipo',
        class='c-page-header__imagotipo',
        src=require('@images/imagotipo/tonykevinJS.svg')
      )
