//- Base layout

doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    meta(name='description' content='Application to learn and do magic with Javascript.')
    title TonykevinJS
    link(href='//fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap' rel='stylesheet')
  body
    include ../components/pageHeader.pug

    block content
