/* ------------------------------------ *\
  #COLORS
\* ------------------------------------ */

:root {
  --color-big-stone: #19313d;
  --color-black-squeeze: #e9f1f7;
  --color-midnight: #001427;
  --color-ripe-lemon: #ffd400;
  --color-tundora: #4d4d4d;

  --color-page-header-bg: var(--color-big-stone);
}
