/* ------------------------------------ *\
  # GLOBAL
\* ------------------------------------ */

/**
 * VARIABLES
 *
 * BASE TYPOGRAPHICAL STYLES AND BASELINE GRID.
 * global-font-size..............calculate: (font-size / 16) * 1em
 * - font-size: 16x......................................core size
 * - font-size-sm: 14px.................................small size
 * - font-size-lg: 20px.................................large size
 *
 * global-line-height...........Calculate: line-height / font-size
 * - line-height: 22px...................................core size
 * - line-height-sm: 20px...............................small size
 * - line-height-sm: 26px...............................large size
 *
 * STANDARDISE SOME UI TREATMENTS.
 * global-radius
 * global-transition
 *
 * SPACING-UNIT.
 * global-spacing-unit.....................................default
 */

:root {
  /* BASE TYPOGRAPHICAL STYLES AND BASELINE GRID. */
  --global-font-size: 0.875em;
  --global-line-height: 1.428571429;
  --global-font-family: 'Source Sans Pro', sans-serif;

  @media (--medium) {
    --global-font-size: 1em;
    --global-line-height: 1.375;
  }

  @media (--large) {
    --global-font-size: 1.25em;
    --global-line-height: 1.3;
  }

  /* STANDARDISE SOME UI TREATMENTS. */
  --global-radius: 3px;
  --global-transition: 0.333333333s;

  /* Spacing unit */
  --global-spacing-unit: 1rem;
}
