h2 Variables

p
  | There are multiple options to define a variable, its choice depends on
  | its #[em scope ]. The limits of a variable are generally defined by
  | curly brackets i.e. #[code.o-code--inline {}]; otherwise, they are
  | <em>global</em>. The following code consolidates the idea:

pre
  code.o-code
    :highlight(lang="javascript")
      const star = 'sun'
      function country () {
        var hills = true
        if (hills) {
          let animal = 'bear'
        }
      }

p
  | Additionally, features such as: are #[em hoisted] (interprets the
  | declaration at the top level of the scope and ignores the declaration
  | point) or creates properties when the declaration is in the global
  | scope, will determine which variables to use.

h3 Var

p
  | It is defined with the keyword
  | #[code.o-code--inline #[span.hljs-keyword var]], initialization is
  | #[em optional], by default it is assigned
  | #[code.o-code--inline #[span.hljs-literal undefined]] and its scope is
  | delimited by a #[a(href='#') function].

p
  | In the following example, the variable
  | #[code.o-code--inline backpack] is declared and initialized, this instance
  | is available within the entire
  | #[code.o-code--inline #[span.hljs-title setCampingTools]] function and even
  | within the internal blocks.

pre
  code.o-code
    :highlight(lang='javascript')
      function setCampingTools (place) {
        var backpack = 'food, sunglasses, tent, '

        if (place === 'mountain') {
          backpack += 'coat, helmet, rope'
        }

        return backpack
      }
h3 Let
h3 Const
